<div class="row">
  <app-autocomplete></app-autocomplete>
  <!--   <button (click)="refresh()" class="btn btn-danger">
    refresh
  </button>
  <button (click)="add()">add</button> -->
  <div class="col">
    <div class="alert alert-warning">
      {{date | date:'full' | uppercase}}

      <p>Nombre de cvs sélectionnés : {{nbClickItem}}</p>
      <!--       <pre>
        {{1 | btc2usd}} / {{1 | btc2usd: false}} /
      </pre> -->
    </div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Juniors</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
          role="tab" aria-controls="nav-profile" aria-selected="false">Seniors</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <app-list [cvs]="juniors$ | async"></app-list>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <app-list [cvs]="seniors$  | async"></app-list>
      </div>
    </div>
  </div>
  <div class="col">
    <app-cv-card></app-cv-card>
  </div>
</div>
<app-embauche></app-embauche>